<!-- <ul *ngFor="let client of clients">
 <a routerLink="/client-detail/{{client.id}}"> <p><li> No {{client.id}} First Name: {{client.fName}}  {{client.lName}} {{client.doB}} {{client.address}}</li></p></a>
</ul> -->
<div class="container">


<div class="mat-elevation-z8 ">

<table mat-table [dataSource]="dataSource" class="demo-table" > 

    <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef> No. </th>
        <td mat-cell *matCellDef="let client"> {{client.id}} </td>
      </ng-container>
    
    <ng-container matColumnDef="fName">
        <th mat-header-cell *matHeaderCellDef> First Name </th>
         <td mat-cell *matCellDef="let client"> {{client.fName}}   </td>
    </ng-container>

    <ng-container matColumnDef="lName">
        <th mat-header-cell *matHeaderCellDef> Last Name </th>
        <td mat-cell *matCellDef="let client"> {{client.lName}} </td>
    </ng-container>

    <ng-container matColumnDef="doB">
        <th mat-header-cell *matHeaderCellDef> DoB. </th>
        <td mat-cell *matCellDef="let client"> {{client.doB|date }} </td>
    </ng-container>

    <ng-container matColumnDef="address">
        <th mat-header-cell *matHeaderCellDef> Address </th>
        <td mat-cell *matCellDef="let client"> {{client.address}} </td>
    </ng-container>

    <ng-container matColumnDef="Action">
        <th mat-header-cell *matHeaderCellDef> Action </th>
        <td mat-cell *matCellDef="let client"> 
            <a routerLink="/client-detail/{{client.id}}"><button mat-icon-button color="primary">
                <mat-icon>edit</mat-icon>
            </button></a>
            <fa-icon
            (click)="onDelete(client)"
            [ngStyle]="{ color: 'red' }"
            [icon]="faTimes"
          ></fa-icon> </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>

    <tr class="mat-row" *matNoDataRow>
        <td class="mat-cell" colspan="4">No data matching the filter""</td>
    </tr>

</table>
<mat-paginator [pageSizeOptions]="[5, 10, 20]"
                 showFirstLastButtons 
                 aria-label="Select page of periodic elements">
  </mat-paginator>
</div>

</div>