<p>
    <mat-toolbar color="primary">
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>supervised_user_circle</mat-icon>
      </button>
      <span>{{ title.toUpperCase() }}</span>
      <nav>
      <span class="example-spacer">
      <a  color="primary" mat-flat-button routerLink="/clients">Clients</a>
      <a  color="primary" mat-flat-button routerLink="/add-client">Add Client</a>
    </span>
    </nav>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
      <mat-icon>favorite</mat-icon>
      </button>
      
    </mat-toolbar>
  </p>