<div class="container">
<form  [formGroup]="form" (ngSubmit)="submit()">
  
  <div class="form-container">

    <mat-form-field appearance="outline">
        <mat-label>Enter First Name</mat-label>
        <input matInput  id="fName" formControlName="fName" type="text" class ="form-control"> 
    </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter Last Name</mat-label>
    <input matInput  id="lName" formControlName="lName" type="text" class ="form-control">
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Choose a date</mat-label>
    <input matInput [matDatepicker]="picker"  id="doB" formControlName="doB" type="text" class ="form-control">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Enter Address</mat-label>
    <input matInput  id="address" formControlName="address" type="text" class ="form-control">
  </mat-form-field>

<button type="submit" mat-raised-button color="primary" [disabled]="!form.valid" >Register</button>

</div>

</form>

</div>
